.sinEspacios{
	padding: 0px 0px 0px 0px;
}
.iframe2{
position:absolute;
height:100%;
width:100%;
top:0px;
left:0px;
}

iframe{
position:absolute;
height:100%;
width:100%;
top:0px;
left:0px;
}

.fondo1{
	background: #FFBF00;
}

.fondo2{
	background: #D8D8D8;
}

.fondo3{
	background: #F2F2F2;
	border: black 1px solid; 
}
.fondo4{
	border: black 1px solid;
}